@{
    ViewData["Title"] = "Burial Summary";
}

<div class="text-center">
    <h1 class="display-4">Burial Summary</h1>
    <p>Burial Summary</a>.</p>
</div>
<!-- 
@model Records

@foreach (Record r in Model.Records)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                @Model.Title
                <span class="badge badge-pill badge-primary " style="float:right">
                    <small>@Model.Sex.ToString()</small>
                </span>
            </h4>
        </div>

        <ul class="card-text p-1">
            <li><b>Burial Number: </b>@Model.burialnumber</li>
            <li><b>Age at Death: </b>@Model.ageatdeath</li>
            <li><b>Length: </b>@Model.length</li>
        </ul> -->

        <form method="post" asp-page="/Buy">
<!-- 
            <input type="hidden" asp-for="@Model.BurialId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" /> -->

            <span class="card-text">
                <button type="Submit" class="btn btn-success float-lg-right">Learn More</button>
            </span>
        </form>
    </div>
}
    