@{
    ViewData["Title"] = "Edit Record";
}

@model IntexII_0305.Models.Burialmain

<div>
    <h4> Add a new record: </h4>
    <div style="display: grid; grid-template-columns: auto auto">
        <form method="post" action="edit">


            <label for="headdirection">Head Direction:</label>
            <input value="@Model.Headdirection" id="headdirection" name="headdirection" /><br />

            <label for="sex">Sex:</label>
            <select value="@Model.Sex" id="sex" name="sex">
                <option value="F">Female</option>
                <option value="M">Male</option>
                <option value="U">Unknown</option>
            </select><br />

            <label for="northsouth">North South:</label>
            <input value="@Model.Northsouth" id="northsouth" name="northsouth" /><br />

            <label for="eastwest">East West:</label>
            <input value="@Model.Eastwest" id="eastwest" name="eastwest" /><br />

            <label for="adultsubadult">Adult Sub Adult:</label>
            <select value="@Model.Adultsubadult" id="adultsubadult" name="adultsubadult"/><br />
                <option value="A">Adult</option>
                <option value="C">Any non adult</option>
            </select><br />

            <label for="facebundles">Face Bundles:</label>
            <input value="@Model.Facebundles" id="facebundles" name="facebundles"/><br />

            <label for="preservation">Preservation:</label>
            <input value="@Model.Preservation" id="preservation" name="preservation"/><br />

            <label for="fieldbookpage">Field Book Page:</label>
            <input value="@Model.Fieldbookpage" id="fieldbookpage" name="fieldbookpage"/><br />

            <label for="goods">Goods:</label>
            <input value="@Model.Goods" id="goods" name="goods"/><br />

            <label for="text">Text:</label>
            <input value="@Model.Text" id="text" name="text"/><br />

            <label for="haircolor">Hair Color:</label>
            <select for="haircolor" value="@Model.Haircolor" id="haircolor" name="haircolor">
                <option value="B">Brown/Dark Brown/Lt Brown</option>
                <option value="K">Black</option>
                <option value="A">Brown-Red</option>
                <option value="R">Red/Red-Bl</option>
                <option value="D">Blond</option>
                <option value="U">Unknown</option>
            </select><br />

            <label for="samplescollected">Samples Collected:</label>
            <input value="@Model.Samplescollected" id="samplescollected" name="samplescollected"/><br />

            <label for="burialid">Burial Id:</label>
            <input value="@Model.Burialid" id="burialid" name="burialid"/><br />

            <label for="length">Length:</label>
            <input value="@Model.Length" id="length" name="length"/><br />

            <label for="burialnumber">Burial Number:</label>
            <input value="@Model.Burialnumber" id="burialnumber" name="burialnumber"/><br />

            <label for="dataexpertinitials">Data Expert Initials:</label>
            <input value="@Model.Dataexpertinitials" id="dataexpertinitials" name="dataexpertinitials"/><br />

            <label for="ageatdeath">Age at Death:</label>
            <select value="@Model.Ageatdeath" id="ageatdeath" name="ageatdeath">
                <option value="A">Adult - years 15+</option>
                <option value="C">Child - years 3-15</option>
                <option value="I">Infant - years 1-3</option>
                <option value="N">Newborn - years 0-1</option>
                <option value="U">Unknown</option>
            </select><br />

            <label for="excavationrecorder">Excavation Recorder:</label>
            <input value="@Model.Excavationrecorder" id="excavationrecorder" name="excavationrecorder"/><br />

            <label for="photos">Photos:</label>
            <input value="@Model.Photos" id="photos" name="photos"/><br />

            <label for="hair">Hair:</label>
            <input value="@Model.Hair" id="hair" name="hair"/><br />

            <label for="burialmaterials">Burial Materials:</label>
            <input value="@Model.Burialmaterials" id="burialmaterials" name="burialmaterials"/><br />

            <label for="dateofexcavation">Date of Excavation:</label>
            <input value="@Model.Dateofexcavation" id="dateofexcavation" name="dateofexcavation"/><br />

            <label for="fieldbookexcavationyear">Field Book Excavation Year:</label>
            <input value="@Model.Fieldbookexcavationyear" id="fieldbookexcavationyear" name="fieldbookexcavationyear"/><br />

            <label for="clusternumber">Cluster Number:</label>
            <input value="@Model.Clusternumber" id="clusternumber" name="clusternumber"/><br />

            <label for="shaftnumber">Shaft Number:</label>
            <input value="@Model.Shaftnumber" id="shaftnumber" name="shaftnumber"/><br />

            <label for="square_north_south">Square North South:</label>
            <input value="@Model.Square_north_south" id="square_north_south" name="square_north_south" /><br />

            <label for="body_depth">Depth:</label>
            <input value="@Model.Body_depth" id="body_depth" name="body_depth"/><br />

            <label for="south_to_head">South to Head:</label>
            <input value="@Model.South_to_head" id="south_to_head" name="south_to_head"/><br />

            <label for="square_east_west">Square East West:</label>
            <input value="@Model.Square_east_west" id="square_east_west" name="square_east_west"/><br />

            <label for="west_to_head">West to Head:</label>
            <input value="@Model.West_to_head" id="west_to_head" name="west_to_head"/><br />

            <label for="west_to_feet">West to Feet:</label>
            <input value="@Model.West_to_feet" id="west_to_feet" name="west_to_feet"/><br />

            <label for="south_to_feet">South to Feet:</label>
            <input value="@Model.South_to_feet" id="south_to_feet" name="south_to_feet"/><br />

            <label for="wrapping">Wrapping:</label>
            <select for="wrapping" id="wrapping" name="wrapping" value="@Model.Wrapping">
                <option value="B">Full or Nearly Full Wrapping</option>
                <option value="H">Partial Wrapping</option>
                <option value="W">Bones and/or little Wrapping</option>
            </select>

            <label for="area">Area:</label>
            <select for="area" id="area" name="area" value="@Model.Area">
                <option value="NE">NE</option>
                <option value="NNW">NNW</option>
                <option value="NW">NW</option>
                <option value="SE">SE</option>
                <option value="SW">SW</option>
            </select>

            <button type="Submit" asp-action="add">Submit</button>
        </form>
    </div>
</div>

